<!DOCTYPE html>
<html>
<head>
 <title>National Statistics | Rent Prices Ireland</title>
 <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

 <div class="icon">
  <button class="dark-toggle"><span>&#10050;</span></button>
 </div>
<!-- Navigation bar -->
<nav class="header">
  <ul>
   <img class ="logo" src="/static/logo.png" alt="Rent Prices Ireland logo" />
   <li><a href="/nationalstatistics">National Statistics</a></li>
   <li><a href="/countystatistics">County Statistics</a></li>
   <li><a href="/">Home</a></li>
  </ul>
 </nav>
 <br>

 <div id = "content">
  <h1>National Statistics</h1>
  <p>View graphs and statistics regarding rental properties over the entire country.</p>
  <br>
  <h4>Mean and Median Rent Prices Across All Counties in 2020</h4>
  <span class="dark-mode-ignore"><img src="/static/graphs/all-counties.png" alt="Bar Chart All Counties Mean and Median" class = "centre"><span>
  <br><br><br>
  <span class="dark-mode-ignore"><img src="/static/graphs/ulster.png" alt="Bar Chart Ulster Counties Mean and Median" class = "centre"><span>
  <br><br><br>
  <span class="dark-mode-ignore"><img src="/static/graphs/munster.png" alt="Bar Chart Munster Counties Mean and Median" class = "centre"><span>
  <br><br><br>
  <span class="dark-mode-ignore"><img src="/static/graphs/connacht.png" alt="Bar Chart Connacht Counties Mean and Median" class = "centre"><span>
  <br><br><br>
  <span class="dark-mode-ignore"><img src="/static/graphs/leinster.png" alt="Bar Chart Leinster Counties Mean and Median" class = "centre"><span>
 </div>
 <br>
 <div id = "content">
  <h4>Number of Rental Properties per County in 2020</h4>
  <span class="dark-mode-ignore"><img src="/static/graphs/piechart.png" alt="Pie Chart Counties with Most Rental Properties 2020" class = "centre"><span>
 </div>
 <script type="text/javascript" src="../static/darkmode.js"></script>
</body>
</html>